
<h2 id="musique">Musique</h2>
<div class="row-fluid">
	<section class="music span12">
		<p><strong>Premier EP <em>"Selon ma nature"</em> toujours disponible !</strong></p>
		<iframe style="width: 288px; height: 288px;" src="http://bandcamp.com/EmbeddedPlayer/album=2034657383/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://wailingtrees.bandcamp.com/album/selon-ma-nature">Selon Ma Nature by WAILING TREES</a></iframe>
	</section>
</div>
<h2 id="videos">Videos</h2>
<div class="row-fluid">
	<section class="video span12">
		<p><strong>Nouvelle video Live ! <em>"The world Go Round"</em></strong></p>
		<iframe width="440" height="330" src="//www.youtube.com/embed/CPtFIU_133E" frameborder="0" allowfullscreen></iframe>
		<iframe width="440" height="330" src="//www.youtube.com/embed/dEFKphqfZjQ" allowfullscreen class="pull-right"></iframe>
	</section>
</div>
<h2 id="band">Le groupe</h2>
<div class="row-fluid">
	<section class="bio span7">
		<h3>Bio</h3>
		<p>
			Nominé aux « Victoire du Reggae » en France dans la catégorie « Artiste révélation 2014 » puis vainqueur du «Rototom European Reggae Contest 2014 » Wailing Trees ne cesse de monter en puissance depuis la sortie de son 1er EP « Selon ma nature » en octobre 2012.
		</p><p>

		Jeune groupe dynamique et ambitieux, il distille avec élégance un reggae teinté de soul, de jazz, de rock et de musiques du monde.  Avec des textes sincères et actuels portés par une voix unique, Wailing Trees crée son propre univers. Frais, explosif et bien ficelé, c’est une valeur sûre à voir en live !
		</p><p>
		Le groupe a d’ailleurs déjà assuré une centaine de concerts en France et en Europe avec de nombreuses 1ères parties d’artistes d'envergures au compteur tels que Groundation, Tiken Jah Fakoly, Dub Inc, Kymani Marley, Lee Scratch Perry, The Abyssinians, Biga Ranx, Soom T, Naâman, …
		</p>

	</section>
	<section class="bio span5">
		<h3>La presse en parle : </h3>
	<ul>
		<li><b>Reggae.fr : </b><q>"le tout donne un résultat plutôt frais dont il faudra suivre les évolutions"</q></li>

		<li><b>Zyva : </b><q>"du bon reggae local"</q> ; <q>"un groupe à découvrir en live !"</q> ; <q>"le jeune groupe de la Région a su se démarquer assez rapidement de la scène locale"</q></li>

		<li><b>PartyTime.fr : </b><q>"une superbe découverte… à surveiller absolument !"</q> ; <q>"une valeur sûre"</q></li>

		<li><b>La grosse radio : </b><q>"Leur EP est plus que prometteur"</q> ; <q>"la chose la plus marquante est leur professionnalisme... le talent n'attend pas le nombre des années"</q> <q>"un son qui leur est propre"</q></li>
	</ul>
	</section>
</div>
<h2 id="shows">Concerts</h2>
<div class="row-fluid">
	<section class="concerts span12">
			<script type='text/javascript' src='https://www.bandsintown.com/javascripts/bit_widget.js'></script><a href="https://www.bandsintown.com/Wailing%20Trees" class="bit-widget-initializer" data-artist="Wailing Trees" data-prefix="fbjs">Bandsintown</a>
	</section>
</div>
<h2 id="pro">Espace Pro</h2>
<div class="row-fluid">
	<section class="bio span6">
		<h3>Documents techniques</h3>
		<ul>
			<li><%= link_to "Fiche Technique", "docs/wailing_trees_patch_son.pdf" %></li>
			<li><%= link_to "Patch lumière", "docs/wailing_trees_patch_lumieres.pdf" %></li>
			<li><%= link_to "Plan de feu", "docs/wailing_trees_plan_de_feu.pdf" %></li>
		</ul>
	</section>
	<section class="bio span6">
		<h3>Contact</h3>
		<p>
			<b>Management/Booking :</b><br />
			Cédric Danis : <a href="mailto:handsupconnexions@gmail.com">handsupconnexions@gmail.com</a><br />
		</p><p>
			<b>Relation Presse :</b><br />
			Camille Bougel : <a href="mailto:handsupcommunication@gmail.com">handsupcommunication@gmail.com</a>
		</p>
	</section>
</div>